body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}