body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
table {
    width: 100%;
    height: 100vh;
    border-collapse: collapse;
    table-layout: fixed;
}

td {
    border: 1px solid black;
    text-align: center;
    font-size: 2vw;
    font-family: sans-serif;
}
.cell-one {
    background-color: #b8c480;
}

.cell-two {
    background-color: #f4b4a0;
}